@page "/lists/create"
@using Microsoft.EntityFrameworkCore
@using Teaghlach.Models
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>List</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="List" OnValidSubmit="AddList" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/lists">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private List List { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddList()
    {
        using var context = DbFactory.CreateDbContext();
        context.List.Add(List);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/lists");
    }
}
