@page "/lists/delete"
@using Microsoft.EntityFrameworkCore
@using Teaghlach.Models
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>List</h2>
    <hr />
    @if (list is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="list" OnValidSubmit="DeleteList" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(list is null)">Delete</button> |
            <a href="/lists">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private List? list;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        list = await context.List.FirstOrDefaultAsync(m => m.Id == Id);

        if (list is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteList()
    {
        using var context = DbFactory.CreateDbContext();
        context.List.Remove(list!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/lists");
    }
}
