@page "/lists/details"
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>List</h2>
    <hr />
    @if (list is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
        </dl>
        <div>
            <a href="@($"/lists/edit?id={list.Id}")">Edit</a> |
            <a href="@($"/lists")">Back to List</a>
        </div>
    }
</div>

@code {
    private List? list;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        list = await context.List.FirstOrDefaultAsync(m => m.Id == Id);

        if (list is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
