@page "/"


<div style="display: flex; flex-direction: column; justify-content: center; min-height: 70vh; text-align: center; width: 100%;">
	<img src="images/MainLogo4.jpg" alt="Teaghlach Logo" style="width: auto; height: 100%;" />
</div>



@code {
	[Inject] NavigationManager Navigation { get; set; }

	private void NavigateTo(string url)
	{
		Navigation.NavigateTo(url);
	}
}
