@page "/meals/delete"
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Meal</h2>
    <hr />
    @if (meal is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="meal" OnValidSubmit="DeleteMeal" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(meal is null)">Delete</button> |
            <a href="/meals">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Meal? meal;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        meal = await context.Meal.FirstOrDefaultAsync(m => m.Id == Id);

        if (meal is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteMeal()
    {
        using var context = DbFactory.CreateDbContext();
        context.Meal.Remove(meal!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/meals");
    }
}
