@page "/meals/details"
@using Microsoft.EntityFrameworkCore
@using Teaghlach.Models
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Meal</h2>
    <hr />
    @if (meal is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
        </dl>
        <div>
            <a href="@($"/meals/edit?id={meal.Id}")">Edit</a> |
            <a href="@($"/meals")">Back to List</a>
        </div>
    }
</div>

@code {
    private Meal? meal;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        meal = await context.Meal.FirstOrDefaultAsync(m => m.Id == Id);

        if (meal is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
