@page "/rewards/delete"
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Reward</h2>
    <hr />
    @if (reward is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="reward" OnValidSubmit="DeleteReward" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(reward is null)">Delete</button> |
            <a href="/rewards">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Reward? reward;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        reward = await context.Reward.FirstOrDefaultAsync(m => m.Id == Id);

        if (reward is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteReward()
    {
        using var context = DbFactory.CreateDbContext();
        context.Reward.Remove(reward!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/rewards");
    }
}
