@page "/familymembers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Teaghlach.Models
@using Teaghlach.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Teaghlach.Data.TeaghlachContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="familymembers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.FamilyMembers">
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn TGridItem="FamilyMember" TProp="string" Property="familymember => familymember.Name" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn TGridItem="FamilyMember" TProp="string" Property="familymember => familymember.Role" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn TGridItem="FamilyMember" TProp="DateTime?" Property="familymember => familymember.DateOfBirth" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn TGridItem="FamilyMember" TProp="string" Property="familymember => familymember.Email" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn TGridItem="FamilyMember" TProp="string" Property="familymember => familymember.PhoneNumber" />

    <Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn TGridItem="FamilyMember" Context="familymember">
        <a href="@($"familymembers/edit?id={familymember.Id}")">Edit</a> |
        <a href="@($"familymembers/details?id={familymember.Id}")">Details</a> |
        <a href="@($"familymembers/delete?id={familymember.Id}")">Delete</a>
    </Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn>
</QuickGrid>

@code {
    private TeaghlachContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
